.project-detail-section {
    background-image: url('../../images/100ppi/project-detail.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.close-btn{
    width: 30px;
    right: 170px;
    opacity: .5;
    cursor: pointer;
    z-index: 1000;
    top: 70px;
    display: none;
    position: absolute;
    transition: .5s;
    &:hover{
        opacity: 1;
    }
}
.project-detail-container.full-frame{
    overflow-y: hidden;
    transition: all .5s;
    background-color: rgba($color: #000000, $alpha: 0.8);
    .project-preview-video{
        position: relative;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2000;
        width: 100vw;
        height: 100vh;
        transition: all .5s;
        video{
            width: 100%;
        }
    }
    .close-btn{
        display: block;
    }
    .video-play-tab{
       .control-tab{
           height: 0;
           overflow: hidden;
           opacity: 0;

       }
    }
    .video-play-tab.mouse-move{
        .control-tab{
            opacity: 1;
            height: 80px;
        }
    }
}
.project-preview-video {
    text-align: center;
    margin-top: 120px;

    video {

        width: 600px;
    }
}


.video-play-tab {
    z-index: 2001;
    transition: .5s;
    position: absolute;
    bottom: 0;


    .title {
       padding: 0 100px;
            color: white;
            font-size: 30px;
        
    }
   
}
.control-tab{
    width: 100vw;
    height: 80px;
    transition: .5s;
    display: flex;
    align-items: center;
    background-color: #fff;
  
}
.control-button{
    padding: 0 20px;
    img{
        padding: 0 10px;
        cursor: pointer;
        width: 50px;
    }
}
.track-line{
    width: 60%;
    position: relative;
    .duration-line{
        background-color: rgba($color: #000000, $alpha: 0.2);
        height: 3px;
        width: 100%;
        border-radius: 4px;
    }
    .current-line{
        background-color: var(--color-red);
        height: 3px;
        position: absolute;
        top: 0;
        left: 0;
    }
}
.time-line{
  
    margin: 0 10px 0 10px;
    font-family: var(--font-sub);
    font-size: 10px;
    letter-spacing: 2px;
    p{

        padding: 0 30px;
    }
}

.vol-button{
    padding: 0 5px;
    margin-left: 20px;
    img{
        cursor: pointer;

        margin-right: 20px;
        width: 50px;
    }
}
@media screen and (max-width:960px){
    .project-detail-section {
        background-size: cover;
    }
    .project-detail-container{
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
    }
    .project-preview-video{
        margin:  0 auto;
        video{
            width: 80%;
        }
    }
    .close-btn{
        right: 20px;
    }
    .control-tab{
        height: 90px;

    }
    .video-play-tab{
        // bottom: 20px;
        .title{
            display: none;
        }
        img{
            width:30px;
        }
        
    }
    .track-line{
        order: 1;
    }
    .control-button{
      
        order: 2;
    }
    .vol-button{
        order: 3;
       
    }
    
}

