.landing-page{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
    background-position-y:-50px;
    background-size:cover;
    background-image: url('../../images/100ppi/crumpled-white-paperboard.jpg');
    
}

.container{
    padding: 30px;
    
}
.paint-background{
    pointer-events: none;
    img{
        opacity: .7;
        width: 200px;
        position: absolute;
    }
    .paint-1{
        top: 100px;
        left: 50px;
    }
    .paint-2{
        top: 100px;
        right:  50px;
    }
    .paint-3{
        bottom:  0px;
        width: 50px;
        left: 200px;
    }
    .paint-4{
        bottom: 10px;
        right: 50px;
    }
}
.qoute-container{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
 
}
.exhibition-qoute{
    padding: 0 150px;
   
}
.qoute p{
    font-size: 40px;
}
.qoute-link{
    text-decoration: none;
}
@media screen and (max-width:960px)
{
    .qoute p{
        font-size: 20px;
    }
    .exhibition-qoute{
        padding: 0 0px;
    }
}
@media screen and (max-width :320px)
{
    .qoute p{
        font-size: 20px;
    }
    .paint-background{
        img{
            width: 100px;
        }
    }
    .qoute-link{
        button{
            font-size: 12px;
            img{
                width: 30px;
            }
        }
    }
}