:root {
  --font-sub: 'Brother Home Demo Version';
  --font-main : 'MADE SAONARA';
  --color-red:#C74D4D;
  --color-black:#141414;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-main);

}

.cursor{
  z-index: 10000;
  background-image: url('./images/100ppi/Cursor.png');
  width: 50px;
  top: 0;
  pointer-events: none;
  transition: .2s ease-out;
  background-position: center;
  background-size: contain;
  height: 50px;
  position: absolute;

}
.cursor.dragging{
  background-image: url('./images/100ppi/drag-button3.png');
  transform: scale(2);


}
.cursor.clicked{
  transform: scale(1.5);

}
.font-main{
  font-family: var(--font-main);
}
.font-sub{
  font-family: var(--font-sub);
}